main, h1{ padding: 1em;}

html{
  background-color: lightgray;
}
li{list-style: none;
}

p{color: red;
}

h1{color: orangered;
}

circle{list-style-type: none;
}

img{
  height: 10rem;
  width: auto;
  border-radius: 30% 30% 30% 30%;
  box-shadow: 5px 5px 5px gray;
}

main p{
  background-color: gainsboro;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
}

footer{
  border: thin solid black;
}

footer p{ color: rgb(0, 68, 255);}
